annotated-types
anyio
bidict
blinker
certifi
click
distro
expat
flask
flask-socketio
flask-sqlalchemy
greenlet
h11
httpcore
httpx
idna
itsdangerous
jinja2
jiter
libuuid
markupsafe
openai
pip
pydantic
pydantic-core
python-dotenv
python-engineio
python-socketio
readline
setuptools
sniffio
sqlalchemy
sqlite
tk
tqdm
typing-extensions
typing_extensions
tzdata
werkzeug
wheel
xz
zlib